# Binance API Settings
BINANCE_API_KEY=YOUR_BINANCE_API_KEY
BINANCE_SECRET=YOUR_BINANCE_SECRET

# Telegram Notifier Settings
TELEGRAM_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID

# Trading Settings
SEED=10000.0
DRY_RUN=True
SYMBOL=TRUMP/USDT
